<li id="post-<%= post._id %>">
    <p> 
                <%if( locals.user ){%> 
                        <small>
                                <a class="delete-post-button" href="/posts/destroy/<%= post._id%>">delete</a>
                        </small>
                        <%} %>    
                
                <%= post.content%> 
                    <br>
                    <%= post.user.name%> 
                    <br>
                    <%= post.user.email%>
                    <div class="post-comments">
                            <%if(locals.user){ %>
                                    <form action="/comments/create" method="post">
                                            <input type="text" name="content" placeholder="Type here to add comment... " required>
                                            <input type="hidden" name="post" value="<%= post._id %>">
                                            <input type="submit" value="sub_comment">
                                    </form>
                            <% }%> 
                    </div>
                    <div class="post-comments-list">
                        <ul id="post-comments-<%= post._id %>">

                            <% for (comment of post.Comments){%>
            
                                <%- include('_comment') -%>
                                
                            
                            <%} %>
                        </ul>
                    </div>
         
    </p>
</li>

<!-- https://codingninjas.in/api/v3/courses -->