<link rel="stylesheet" href="/css/user_profile.css">
        <h1>Codeial / Profile Page  <img src="<%= user.avatar%>" alt="<%=user.name%>" width="45" style=" border-radius: 50%; height: 45px; margin-left: 230px;" ></h1>



<%if(user.id == profile_user.id){%> 
        <!-- if user matches then show the form -->
        <form action="/users/update/<%= profile_user.id %>" method="post" enctype="multipart/form-data">
                <input type="file" name="avatar" id="file_upload" placeholder="Profile Picture">
                <p>
                        <label for="name">Name&nbsp;&nbsp; : &nbsp;</label>
                <input type="text" name="name" id="name" placeholder="Your name" value="<%= profile_user.name %>" required>
                <br>
                <label for="email">E-mail&nbsp; :  </label>
                <input type="text" name="email" id="email" placeholder="Your email" value="<%= profile_user.email %>" required>
                </p>

                
                <input type="submit" value="submit" id="btn">
        </form>
<%}else{%>
        <!-- else show only the profile info -->
        <p><%=  profile_user.name %></p>
        <p><%=  profile_user.email %></p>
<%}%>